
{% extends 'basic.html' %}

{% block title%} Login  {% endblock %}
{% block body %}
<div class="container my-3">
    <h3>Login Here</h3>
    <form action="login" method="post">{% csrf_token %}


        <div class="form-group">
    <label for="uname">User Name</label>
    <input type="text" class="form-control" id="usname" name='username' placeholder="Enter Your user Name">
  </div>


              <div class="form-group">
    <label for="pname">Password</label>
    <input type="password" class="form-control" id="psname" name='password' placeholder="Enter Your password">
  </div>




        <button type="submit" class="btn btn-warning">Submit</button>
</form>
<div class="alert alert-primary" role="alert">
     {% for message in messages %}
         <i>{{ message }}</i>
    {% endfor %}

</div>



</div>
{% endblock %}